/*********** Fonts ***********/
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSerif4';
    src: url('../fonts/SourceSerif4-VariableFont_opsz\,wght.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/********** Audio ***********/
audio::-webkit-media-controls,
audio::-moz-media-controls,
audio::-ms-media-controls,
audio::-o-media-controls,
audio::media-controls {
    display: none;
}

#playPauseButton {
    height: 60px;
    width: 60px;
    cursor: pointer;
    border: 2px solid white;
    position: fixed;
    right: 40px;
    bottom: 80px;
    background-color: #030921;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../assets/mute.png");
}

#playPauseButton.active {
    background-image: url("../assets/reproducir.png");
}

/*********** Resets ***********/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    color: white;
    background-color: #00255C;
}

main {
    width: 100%;
}

.wrapper {
    max-width: 1680px;
    margin: 0 auto;
    position: relative;
}

main {
    background-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "SourceSerif4", serif;
    color: #030921;
}

h1 {
    font-size: 7.5rem;
    color: white;
}

h2 {
    font-size: 3.75rem;
}

p {
    font-size: 1.5rem;
    color: #1b3760;
    max-width: 600px;
}

.container {
    max-width: 1123px;
    margin-left: auto;
    margin-right: auto;
}

.colored {
    font-weight: 700;
    color: #00255C;
}


/********** Navbar ***********/
header {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 10;
}

header nav {
    display: flex;
    justify-content: end;
    padding: 40px 0px;
    z-index: 9999;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 60px;
}

nav ul li a {
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
    padding: 0 2px;
    display: flex;
    align-items: center;
}

nav ul li {
    position: relative;
}

nav ul li a::before {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    height: 3px;
    width: 0;
    background-color: white;
    border-radius: 2px;
    transition: width 0.3s ease;
}

nav ul li:hover a::before {
    width: 100%;
}

.nav_active {
    font-weight: 700;
}

.nav_active::before {
    width: 100%;
}

.hamburger_button {
    visibility: hidden;
    opacity: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
    z-index: 9999;
}

.hamburger_button span {
    height: 3px;
    background-color: white;
    width: 35px;
}





/*???????? Home Page ????????*/
/******* Hero Banner *******/
.hero_inicio {
    background-image: url("../assets/hero_without_font.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 834px;
    margin: 0;
    width: 100%;
    padding-top: 160px;
}

#title {
    position: relative;
}

#title::before {
    content: "";
    position: absolute;
    z-index: 1;
    background-color: white;
    height: 4px;
    width: 400px;
    bottom: -10px;
    left: 0px;
}

.hero_inicio span {
    display: inline-block;
    margin: 40px 0;
    text-transform: uppercase;
    font-size: 1.75rem;
    font-weight: 600;
}

.hero_inicio p {
    max-width: 600px;
    color: rgb(231, 231, 231);
}

.header_btn {
    display: inline-block;
    margin: 60px 0;
    border-radius: 60px;
    border: solid white 2px;
    padding: 10px 50px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 600;
}

.header_btn:hover {
    background-color: rgba(255, 255, 255, 0.6);
    color: #030921;
}

/******* Main Section *******/
.biografia {
    padding: 100px 0px;
}

.biografia_first,
.biografia_second {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.biografia_first img {
    margin-left: 20px;
}

.biografia_second img {
    margin-right: 80px;
}

.biografia h2 {
    margin-bottom: 60px;
    position: relative;
    z-index: 2;
}

.biografia h2::before {
    content: "";
    position: absolute;
    z-index: -1;
    background-color: rgba(49, 129, 254, 0.6);
    height: 41px;
    width: 225px;
    bottom: -5px;
    left: 36px;
}

.biografia_second {
    margin-top: 80px;
}

/******* Galería *******/
.galeria {
    background-color: #030921;
    padding: 100px 0px;
    text-align: center;
}

.galeria h2 {
    margin-bottom: 40px;
    color: white;
}

.galeria_grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}


/******* Jazz Section *******/
.jazz_container {
    padding: 100px 0px;
    text-align: center;
}

.jazz_container p {
    display: inline-block;
    width: 100%;
    margin: 40px auto;
    max-width: 600px;
}

.jazz_container ul {
    color: #00255C;
    margin: 40px auto;
    width: fit-content;
    text-align: left;
}

.jazz_container a {
    color: #030921;
    text-decoration: none;
    border: 2px solid #030921;
    padding: 10px 20px;
    border-radius: 60px;
}

.jazz_container a:hover {
    background-color: #030921;
    color: white;
    transition: 0.3s ease-in-out;
}

/******* Call to Action *******/
.call_to_action {
    padding-top: 100px;
    display: flex;
    justify-content: space-between;

}

.call_to_action h2 {
    position: relative;
    z-index: 2;
    line-height: 1;
}

.call_to_action h2::before {
    content: "";
    position: absolute;
    z-index: -1;
    background-color: rgba(49, 129, 254, 0.6);
    height: 41px;
    width: 350px;
    bottom: -15px;
    left: 72px;
}

.call_to_action p {
    display: block;
    margin: 70px 0px;
}

.call_to_action a {
    padding: 12px 36px;
    background-color: #030921;
    color: white;
    text-decoration: none;
    border-radius: 60px;
    font-weight: 600;
    font-size: 1.5rem;
}

.call_to_action a:hover {
    background-color: #00255C;
}


/************ footer **********/
footer {
    background-color: #030921;
    color: white;
    padding: 20px 0px;
}

.footer_copyright {
    width: 100%;
    text-align: center;
}

footer p {
    width: 800px;
    margin: 0 auto;
    font-size: 1rem;
    color: rgb(231, 231, 231);
}

footer nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}

.footer_logo {
    font-size: 3.75rem;
    font-family: "SourceSerif4", serif;
    font-weight: 700;
    text-decoration: none;
    color: white;
}



/*???????? Discografia ????????*/
/******* Navbar *******/


/******* Hero *******/
.hero_discografia {
    position: relative;
    padding-top: 180px;
    height: 800px;
    background-color: #030921;
    margin: 0;
    width: 100%;
}

.hero_discografia img {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.hero_discografia h1 {
    position: relative;
}

.hero_discografia h1::before {
    content: "";
    position: absolute;
    background-color: white;
    height: 4px;
    width: 350px;
    bottom: -5px;
    left: 0;
}

.hero_discografia span {
    display: inline-block;
    margin: 40px 0;
    text-transform: uppercase;
    font-size: 1.75rem;
    font-weight: 600;
}

.hero_discografia p {
    max-width: 600px;
    color: rgb(231, 231, 231);
}

/********** Main ***********/
.discografia_container {
    padding: 100px 0px;
    text-align: center;
    position: relative;
}

.discografia_albums_cont {
    height: 700px;
}

.discografia {
    position: absolute;
    opacity: 0;
    margin: 80px 0px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 40px;
    color: #00255C;
    transition: all 0.8s ease;
}

.discografia.active {
    opacity: 1;
    z-index: 2;
}

.discografia h3 {
    font-size: 2rem;
    color: #030921;
    margin-bottom: 20px;
}

.discografia_album_year {
    position: absolute;
    top: 0px;
    right: 0px;
    color: #6b6b6b;
    font-size: 1rem;
    font-style: italic;
}

.discografia img {
    border-radius: 6px;
}

.discografia_album_description {
    text-align: left;
    font-size: 1.5rem;
    position: relative;
    height: 513px;
}

.discografia_album_songs {
    margin-left: 24px;
    margin-top: 20px;

}

.discografia_album_button {
    position: absolute;
    right: 0;
    bottom: 0;
    color: #030921;
    font-weight: 600;
    text-decoration: none;
}

.discografia_album_button:hover {
    text-decoration: underline;
}


/*********** Album Selector ***********/
.album_selector {
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
}

.album {
    width: 249px;
    height: 249px;
    border-radius: 6px;
    cursor: pointer;
    filter: brightness(0.3);
    transition: all 0.6s ease;
    background-size: cover;
}

.album:hover {
    box-shadow: #00255C 0px 0px 5px 2px;

}

.album.active {
    filter: brightness(1);
    transform: translateY(-15px);
}


.album1 {
    background-image: url("../assets/album/album_min/new_york_min.png");
}

.album2 {
    background-image: url("../assets/album/album_min/my_way_min.png");
}

.album3 {
    background-image: url("../assets/album/album_min/come_fly_with_me.png");
}

.album4 {
    background-image: url("../assets/album/album_min/thats_life_min.png");
}

.video_container {
    text-align: center;
    margin-top: 80px;
}

.video_container iframe {
    margin: 80px auto;
}

/*********** Contacto ***********/
.contact_nav,
.gracias_nav {
    background-color: #030921;
}

.contact_container {
    color: #030921;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 200px 0px 120px 0px;
}

.contact_text_cont {
    max-width: 600px;
}

.contact_text_cont h1 {
    color: #030921;
    font-size: 3.5rem;
}

.contact_text_cont p {
    margin-top: 20px;
}

.contact_form {
    background-color: white;
    padding: 60px;
    border-radius: 16px;
    width: 500px;
    box-shadow: -2px 3px 25px 1px rgba(140, 140, 140, 0.62);
    -webkit-box-shadow: -2px 3px 25px 1px rgba(140, 140, 140, 0.62);
    -moz-box-shadow: -2px 3px 25px 1px rgba(140, 140, 140, 0.62);
}

.obligatorio {
    position: relative;
    display: inline;
}

.obligatorio::before {
    position: absolute;
    content: "*";
    color: red;
    right: -10px;
}

.form_input_cont {
    margin-bottom: 20px
}

.form_input_cont input,
.form_input_cont textarea {
    height: 46px;
    border: 1px solid #dcdcdc;
    border-radius: 6px;
    width: 100%;
    padding: 12px;
    text-transform: initial;
    margin-top: 5px;
}

/*! No funciona T_T */
/*
.form_input_cont textarea::first-letter{
    text-transform: uppercase;
} 
*/

.form_input_cont textarea {
    min-height: 160px;
    resize: none;
}

.form_inputfile_cont {
    margin: 20px 0;
}

.contact_form ul {
    list-style: none;
}

.form_select_cont {
    margin: 10px 0;
}

#generos_list {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin: 10px 0;
}

#generos_list li {
    background-color: #030921;
    color: white;
    padding: 2px 14px;
    border-radius: 40px;
    display: flex;
    gap: 10px;
}

/*! No funciona T_T */
/* .form_checkbox_cont input:checked {
    background-color: #030921;
} */
.form_checkbox_cont a {
    color: #030921;
    font-weight: 700;
}

.contact_button_cont {
    width: 100%;
    display: flex;
    justify-content: center;
}

.contact_button_cont button {
    margin-top: 20px;
    background-color: #030921;
    color: white;
    border: 3px solid #030921;
    padding: 10px 36px;
    border-radius: 60px;
    font-weight: 600;
    font-size: 1.2rem;
    cursor: pointer;
}

.contact_button_cont button:hover {
    background-color: white;
    color: #030921;
    transition: 0.3s ease-in-out;
}

.remove-option {
    cursor: pointer;
}





/************ Gracias **************/
.gracias_body {
    color: #030921;
}

#gracias_title {
    color: #030921;
    font-size: 5rem;
    margin-top: 120px;

}

.gracias_body main {
    text-align: center;
    padding: 120px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px
}

#generos_lista {
    display: flex;
    gap: 10px;
    margin: 10px 0;
    flex-wrap: wrap;
    max-width: 600px;
    list-style: none;
}

#generos_lista li {
    background-color: #00255C;
    color: white;
    padding: 8px 18px;
    border-radius: 40px;
    gap: 10px
}

.gracias_body main a {
    background-color: #030921;
    color: white;
    border: 3px solid #030921;
    padding: 10px 36px;
    border-radius: 60px;
    font-weight: 600;
    font-size: 1.2rem;
    cursor: pointer;
    text-decoration: none;
}

.gracias_body main a:hover {
    background-color: white;
    color: #030921;
    transition: 0.3s ease-in-out;
}


/*********** Keyframes **********/
/* @keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-right {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes fade-left {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
} */


/*********** Media Queries **********/
@media screen and (max-width: 1440px) {
    .container {
        padding: 40px 0px;
    }

    h1 {
        font-size: 6rem;
    }

    p {
        font-size: 1.3rem;
    }

    header span {
        font-size: 1.5rem;
    }

    .call_to_action {
        padding-bottom: 0;
    }

    /** discografia **/
    .header_discografia img {
        right: 0px;
    }

    /** contacto **/
    .main_contacto {
        padding: 20px 0;
    }

    .contact_container {
        padding: 160px 60px;
    }
}

@media screen and (max-width: 1280px) {
    .hero_inicio {
        padding-top: 120px;
        height: 760px;
    }
}

@media screen and (max-width: 1024px) {
    .container {
        padding: 20px 60px;
    }

    /** hero **/
    .hero_inicio {
        height: 640px;
    }

    #title {
        font-size: 5rem;
    }

    #title::before {
        width: 300px;
    }

    .hero_inicio span {
        font-size: 1.4rem;
    }

    .hero_inicio p {
        font-size: 1.1rem;
        max-width: 500px;
    }

    .hero_inicio .header_btn {
        font-size: 1.1rem;
        padding: 8px 30px;
    }

    .hero_discografia img {
        display: none;
    }

    /** biografia **/
    .biografia {
        font-size: 1rem;
        padding: 120px 60px;
    }

    .biografia h2 {
        font-size: 3.3rem;
        margin-bottom: 40px;
    }

    .biografia p {
        font-size: 1.2rem;
    }


    /** galeria **/
    .galeria {
        display: none;
    }

    /** call to action **/
    .call_to_action {
        padding-top: 40px;
        padding-bottom: 0;
    }

    .call_to_action h2 {
        font-size: 2.6rem;
        width: 320px;
    }

    .call_to_action h2::before {
        width: 254px;
        left: 52px;
    }

    .call_to_action p {
        font-size: 1.3rem;
        margin: 40px 0px;
    }

    .call_to_action a {
        font-size: 1.3rem;
        padding: 10px 30px;
    }

    /** discografia **/
    .hero_discografia {
        height: 640px;
        padding-top: 120px;
    }

    .hero_discografia h1 {
        font-size: 5.5rem;
    }

    .discografia {
        gap: 20px;
    }

    .discografia_album_description p,
    .discografia_album_description ol {
        font-size: 1rem;
        max-width: 400px;
    }

    .discografia_album_description {
        height: 400px;
    }

    .discografia_album_button {
        font-size: 1.3rem;
    }

    .album_selector {
        padding: 0;
    }

    .album {
        height: 220px;
        width: 220px;
    }

    .video_container h2 {
        max-width: 800px;
        margin: 0 auto;
    }

    /** contacto **/
    .contact_container {
        padding: 160px 60px;
    }

    .contact_text_cont {
        margin-right: 40px;
    }

    .contact_text_cont h1 {
        font-size: 3rem;
    }

    .contact_form {
        padding: 60px 40px;
    }
}

@media screen and (max-width: 800px) {
    header nav {
        padding: 60px 0;
    }

    /** inicio **/
    .hero_inicio {
        height: 600px;
    }

    .biografia {
        text-align: center;
    }

    .biografia h2::before {
        left: 160px;
        width: 190px;
    }

    .biografia img {
        margin: 0 auto;
    }

    .biografia_first {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }


    .biografia_second {
        flex-direction: column-reverse;
        align-items: center;
        gap: 20px;
    }

    .galeria {
        display: none;
    }

    .call_to_action,
    .jazz_container {
        padding-bottom: 80px;
    }

    .call_to_action div {
        margin: 0 auto;
    }

    .call_to_action img {
        display: none;
    }

    .call_to_action h2 {
        margin: 0 auto;
    }

    .call_to_action {
        text-align: center;
    }

    /** discografía **/
    .hero_discografia {
        height: 560px;
        padding-top: 80px;
    }

    .hero_discografia img {
        display: none;
    }

    .hero_discografia h1 {
        margin-top: 40px;
    }

    .discografia_container {
        min-height: 160vh;
        padding-left: 120px;
        position: relative;
    }

    .discografia {
        flex-direction: column;
        gap: 40px;
    }

    .album_selector {
        flex-direction: column;
        position: absolute;
        gap: 10px;
        padding: 10px;
        top: 130px;
        left: 0;
        z-index: 10;
    }

    .album {
        width: 80px;
        height: 80px;
    }

    .album.active {
        transform: translateX(10px);
    }

    /** contacto **/
    .main_contacto {
        padding: 20px 0;
    }

    .contact_container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 40px;
    }

    .contact_form {
        text-align: left;
        margin-bottom: 40px;
    }

    /** footer **/
    footer nav {
        margin-bottom: 40px;
    }

    footer .footer_logo {
        font-size: 2.5rem;
    }

    footer nav ul {
        display: none;
    }

    footer .footer_copyright p {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 480px) {
    .container {
        padding: 12px;
    }

    /** Navbar responsive **/
    .hamburger_button {
        visibility: visible;
        opacity: 1;
    }

    .active_nav .hamburger_button {
        position: fixed;
    }

    .nav_links {
        position: fixed;
        transform: translateX(100%);
        height: 100vh;
        width: 100%;
        top: 0;
        right: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        background-color: #030921;
        z-index: 999;
        transition: 1s;
        background-color: #00255C;
        transition: 0.6s ease-in-out;

    }

    .active_nav .nav_links {
        transform: translateX(0);
    }

    /** footer **/
    footer nav {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }



    footer .footer_copyright p {
        text-align: center;
        font-size: 0.6rem;
        max-width: 300px;

    }

    /** home **/

    #title {
        font-size: 2.5rem;
    }

    #title::before {
        width: 200px;
    }

    .hero_inicio span {
        font-size: 1rem;
    }

    .biografia {
        text-align: center;
    }

    .biografia img {
        width: 320px;
    }

    .biografia h2::before {
        visibility: hidden;
        opacity: 0;
        left: 0;
    }

    .jazz_container {
        text-align: center;
    }

    .jazz_container h2 {
        font-size: 2.5rem;
        margin-top: 40px;
    }

    .call_to_action {
        text-align: center;
        padding-bottom: 40px;
    }

    .call_to_action h2 {
        font-size: 2rem;
        max-width: 300px;
        margin-top: 40px;
    }

    .call_to_action h2::before {
        display: none;
    }

    .call_to_action p {
        width: 100%;
        max-width: 300px;
        margin: 0;
        margin-bottom: 40px;
    }


    /** discografia **/
    .hero_discografia {
        height: 500px;
    }

    .hero_discografia h1 {
        font-size: 2.5rem;
    }

    .hero_discografia h1::before {
        width: 200px;
    }

    .hero_discografia span {
        font-size: 1rem;
    }

    .discografia_container {
        padding-top: 20px;
        min-height: 150vh;
    }

    .discografia_container h2 {
        font-size: 2.5rem;
    }

    .discografia {
        gap: 20px;
        margin-top: 40px;
        width: 92%;
    }

    .discografia img {
        width: 100%;
    }

    .discografia_album_description {
        padding: 30px 0;
        height: 100%;
    }

    .discografia_album_description p,
    .discografia_album_description ol li {
        font-size: 1rem;
    }

    .discografia_album_button {
        font-size: 1rem;
        bottom: -10px;
    }

    .album_selector {
        flex-direction: row;
        justify-content: center;
        gap: 5px;
        padding: 5px;
        width: 100%;
        margin: 0 auto;
        position: absolute;
        top: 90%;
    }

    .album {
        width: 60px;
        height: 60px;
    }

    .album.active {
        transform: translateY(-8px);
    }

    .video_container {
        display: none;
    }

    /** contacto **/
    .container.contact_container {
        padding: 0;
    }

    .contact_text_cont {
        width: 95%;
        margin: 0 auto;
    }

    .contact_text_cont h1 {
        font-size: 2.5rem;
        margin-top: 60px;
    }

    .contact_form {
        width: 95%;
        margin: 20px auto;
        padding: 32px 20px;
    }

    .form_inputfile_cont input {
        font-size: 12px;
    }

    /** gracias **/
    #gracias_title {
        font-size: 2.5rem;
    }
}